body {
  font-family: Georgia, serif;
  font-size: 100%;
  line-height: 175%;
  margin: 0 15% 0;
  background-color: #f1e0fe}

header {
  margin-top: 0;
  padding: 3em 1em 2em 1em;
  text-align: center;}

h1 {
  font: bold 2.8em 'Ms Madi', cursive;
  text-shadow: .05em .05em .1em lightslategray;
  color: #000ECC;
  border-bottom: 1px solid #000ECC;
  text-align: center;
  margin-top: 30px;}

h2 {
  font-size: 1.3em;
  text-transform: uppercase;
  letter-spacing: .5em;
  text-align: center;
  color: #000ECC}

dt {
  font-weight: bold;}

strong {
  font-style: italic;}

li {
	list-style-type: disc;
	margin: 0;
	padding: 0;
  text-align: center;}

  a {
    text-decoration: none;}

  a:link {
  	  color: #490098;}

  a:visited {
  	color: #937393;}

  a:focus, a:hover {
  	color: #c700f2;
  	background-color: #fff;}

  a:active {
  	color: #490098;
  	background-color: #fff;}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;}

p.warning, sup {
  font-size: small;}

.label {
  font-weight: bold;
  font-variant: small-caps;
  font-style: normal;}


h2 + p {
  text-align: center;
  font-style: small-caps;}
